<div class="container" [ngStyle]="{'background-color': pokemonTypeColor}">
  <app-back></app-back>
  <div class="content-container">
    <div class="title-container">
      <app-pokemon-card [name]="selectedPokemon?.name" [size]="'lg'"></app-pokemon-card>
    </div>
    <div id="type-container">
      <app-chip *ngFor="let type of selectedPokemon?.pokemon_v2_pokemontypes" [label]="type.pokemon_v2_type.name" [type]="type.pokemon_v2_type.name"></app-chip>
    </div>
    
    <div id="flavorText">
      {{selectedPokemon?.pokemon_v2_pokemonspecy?.pokemon_v2_pokemonspeciesflavortexts![0].flavor_text}}
    </div>

    <div class="tabs-container"  [ngStyle]="{'color': pokemonTypeColor}">
      <app-tab [type]="pokemonTypeColor" (selectTab)="selectedTab=1" [selectedTab]="selectedTab==1" [label]="'Stats'"></app-tab>
      <app-tab [type]="pokemonTypeColor" (selectTab)="selectedTab=2" [selectedTab]="selectedTab==2" [label]="'Evolutions'"></app-tab>
      <app-tab [type]="pokemonTypeColor" (selectTab)="selectedTab=3" [selectedTab]="selectedTab==3" [label]="'MOVES'"></app-tab>
    </div>

    <app-stats *ngIf="selectedTab==1"></app-stats>
    <app-evolutions *ngIf="selectedTab==2"></app-evolutions>
  </div>
</div>