
<div class="background">
    <img class="pikachu-img" src="https://ik.imagekit.io/do4qnws3h/pikachu.png?updatedAt=1700346989409"/>

    <div class="search-container">
        <img class="ball-img" src="https://ik.imagekit.io/do4qnws3h/Pokeball.png"/>
        <div class="form-container">
            <div class="title">
                Pokemon Name or Id
            </div>
            <input type="text"/>
            <div class="btns-container">
                <div class="btn search-btn">
                    Search
                </div>
                <div class="btn random-btn">
                    Random
                </div>
            </div>
        </div>
    </div>

</div>