.container{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 12vh;
    left: 50%;
    transform: translate(-50%);

    .pokemon-container{
        display: flex;
        align-items: center;
        gap: 5vw;

        .pokemon-img{
            height: 15vh;
        }
        .pokemon-name{
            font-size: 2vw;
        }
    }
}