.container{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 12vh;
    left: 50%;
    transform: translate(-50%);

    .pokemon-container{
        display: flex;
        align-items: center;
        gap: 5vw;

        .pokemon-img{
            height: 15vh;
        }
        .pokemon-name{
            font-size: 2vw;
        }
        .arrow {
            margin-right: 1vw;
            position: relative;

            .first-stick{
                width: 0.5vw;
                height: 0.5vh;
                background-color: green;
                transform: rotate(45deg);
                border-radius: 2vh;
                position: absolute;
                left: -0.4vw;
                top: -0.17vw;
            }
            .second-stick{
                width: 0.5vw;
                height: 0.5vh;
                background-color: green;
                transform: rotate(-45deg);
                border-radius: 2vh;
                position: absolute;
                left: -0.4vw;
                top:  0.15vw;;
            }

            .tail{
                width: 4vw;
                height: 0.5vh;
                background-color: green;
                border-radius: 2vh;
                position: absolute;
                left: -4vw;
            }
          }
      
          
    }
}