<div class="container">
  <div class="pokemon-container" *ngFor="let pokemon of getEvolutionChain;let i=index">
    <div>
      <img  class="pokemon-img" src="https://img.pokemondb.net/sprites/home/normal/{{pokemon.name}}.png"/>
      <div class="pokemon-name">{{pokemon.name}}</div>
    </div>
    <div class="arrow" *ngIf="i<getEvolutionChain.length-1">
      <div [ngStyle]="{'background-color':pokemonTypeColor}" class="tail"></div>
      <div [ngStyle]="{'background-color':pokemonTypeColor}" class="first-stick"></div>
      <div [ngStyle]="{'background-color':pokemonTypeColor}" class="second-stick"></div>
    </div>
  </div>
</div>